/* design-system / css / fonts.css */

/* --- Supreme Font Face (Optimized Variable & WebP-era Woff2) --- */
@font-face {
  font-family: 'Supreme';
  src: url('https://cdn.fontshare.com/wf/DLQ4UJISF7NR5UWCRH7SSBZSGVFYEQVB/ECAFP4IWEYQWGLRGLDAA4D47EQQC2YFW/WC57ME7FJIJNRKIFOCKR52F2X2KO67EO.woff2') format('woff2');
  font-weight: 100 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Supreme';
  src: url('https://cdn.fontshare.com/wf/QN3TIUT2GLJT6WB3XTDDWOYM5RZ3KEGB/CBLU5DRGUM4ST5QM56HEQKDBMG2XTIL7/GPZNNDUEMEWV7QFJ7WNIEFP2732UWFKR.woff2') format('woff2');
  font-weight: 100 800;
  font-display: swap;
  font-style: italic;
}

/* --- Corpline Font Face --- */
@font-face {
  font-family: 'Corpline';
  src: url('../assets/fonts/Corpline-DEMO-BF685cb69e20915.otf') format('opentype');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}