/* design-system / css / fonts.css */

/* --- Supreme Font Face --- */
@font-face {
  font-family: 'Supreme';
  src: url('https://cdn.fontshare.com/wf/SXOY54OPHQ5GORKTE5K4LHJ5E4UDSTBU/3W4DXXBZIIUZAF7R7P3XS335E67EFNWF/3TQJM3LST7JIZJBUX4IH5OAMDJS4D5BC.woff2') format('woff2'),
       url('https://cdn.fontshare.com/wf/SXOY54OPHQ5GORKTE5K4LHJ5E4UDSTBU/3W4DXXBZIIUZAF7R7P3XS335E67EFNWF/3TQJM3LST7JIZJBUX4IH5OAMDJS4D5BC.woff') format('woff'),
       url('https://cdn.fontshare.com/wf/SXOY54OPHQ5GORKTE5K4LHJ5E4UDSTBU/3W4DXXBZIIUZAF7R7P3XS335E67EFNWF/3TQJM3LST7JIZJBUX4IH5OAMDJS4D5BC.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Supreme';
  src: url('https://cdn.fontshare.com/wf/5NSJDTFZTFFJWBVO3OMH2TEW2RLIAGML/F2NRHRDLAA3O2GIYOLCHFOVZ2X5QZHWL/EXWNVVV6F54WHX3JRKLQLMCPFQ2OOET5.woff2') format('woff2'),
       url('https://cdn.fontshare.com/wf/5NSJDTFZTFFJWBVO3OMH2TEW2RLIAGML/F2NRHRDLAA3O2GIYOLCHFOVZ2X5QZHWL/EXWNVVV6F54WHX3JRKLQLMCPFQ2OOET5.woff') format('woff'),
       url('https://cdn.fontshare.com/wf/5NSJDTFZTFFJWBVO3OMH2TEW2RLIAGML/F2NRHRDLAA3O2GIYOLCHFOVZ2X5QZHWL/EXWNVVV6F54WHX3JRKLQLMCPFQ2OOET5.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Supreme';
  src: url('https://cdn.fontshare.com/wf/J37Y74HE4TOUVE26XAVWLEQEHH3GQXQ5/LBZGSWOPU5DQUFKTBH4LBGGXKEJRC3LC/6IG5NRG4D4MEEF77CBE44JBJS4T2YCGU.woff2') format('woff2'),
       url('https://cdn.fontshare.com/wf/J37Y74HE4TOUVE26XAVWLEQEHH3GQXQ5/LBZGSWOPU5DQUFKTBH4LBGGXKEJRC3LC/6IG5NRG4D4MEEF77CBE44JBJS4T2YCGU.woff') format('woff'),
       url('https://cdn.fontshare.com/wf/J37Y74HE4TOUVE26XAVWLEQEHH3GQXQ5/LBZGSWOPU5DQUFKTBH4LBGGXKEJRC3LC/6IG5NRG4D4MEEF77CBE44JBJS4T2YCGU.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Supreme';
  src: url('https://cdn.fontshare.com/wf/SUIACSJDVCVQKZVAIOPX2J3L6HILCMC2/EKHJVGM3CNM2EHG4T7RZLE5FCJKQLVFR/GHIGKXOUZTMKP3KKZI3Q6DMEDD2MD4TD.woff2') format('woff2'),
       url('https://cdn.fontshare.com/wf/SUIACSJDVCVQKZVAIOPX2J3L6HILCMC2/EKHJVGM3CNM2EHG4T7RZLE5FCJKQLVFR/GHIGKXOUZTMKP3KKZI3Q6DMEDD2MD4TD.woff') format('woff'),
       url('https://cdn.fontshare.com/wf/SUIACSJDVCVQKZVAIOPX2J3L6HILCMC2/EKHJVGM3CNM2EHG4T7RZLE5FCJKQLVFR/GHIGKXOUZTMKP3KKZI3Q6DMEDD2MD4TD.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Supreme';
  src: url('https://cdn.fontshare.com/wf/V3KAW2H4UCIIIUBD6S2PIWF3IF5MUSOJ/G3J6DZB2HINA35VD6CICETHD4ZJTLLPR/SPD5TGNFK2XOFPWN7JB26FTXSLXBKEAV.woff2') format('woff2'),
       url('https://cdn.fontshare.com/wf/V3KAW2H4UCIIIUBD6S2PIWF3IF5MUSOJ/G3J6DZB2HINA35VD6CICETHD4ZJTLLPR/SPD5TGNFK2XOFPWN7JB26FTXSLXBKEAV.woff') format('woff'),
       url('https://cdn.fontshare.com/wf/V3KAW2H4UCIIIUBD6S2PIWF3IF5MUSOJ/G3J6DZB2HINA35VD6CICETHD4ZJTLLPR/SPD5TGNFK2XOFPWN7JB26FTXSLXBKEAV.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Supreme';
  src: url('https://cdn.fontshare.com/wf/PRFPYSYL6CT4G57HVB5U656NM5SXPCBT/J4MXBK25V5O6RFI3FNIRLPFRJJHEOGFK/HGC6U3MDLX3QXSN2A7PAEQ4Q4HTQA6OX.woff2') format('woff2'),
       url('https://cdn.fontshare.com/wf/PRFPYSYL6CT4G57HVB5U656NM5SXPCBT/J4MXBK25V5O6RFI3FNIRLPFRJJHEOGFK/HGC6U3MDLX3QXSN2A7PAEQ4Q4HTQA6OX.woff') format('woff'),
       url('https://cdn.fontshare.com/wf/PRFPYSYL6CT4G57HVB5U656NM5SXPCBT/J4MXBK25V5O6RFI3FNIRLPFRJJHEOGFK/HGC6U3MDLX3QXSN2A7PAEQ4Q4HTQA6OX.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Supreme';
  src: url('https://cdn.fontshare.com/wf/UDGUA26XVGIV6IQWMQNGGAL7FQZFY227/E6HQU6YVWTGYX3KW3DF66KAAJ224ZDU6/5ZZU4JM62PS7KOJ7BOKLPL3AEO2G76TS.woff2') format('woff2'),
       url('https://cdn.fontshare.com/wf/UDGUA26XVGIV6IQWMQNGGAL7FQZFY227/E6HQU6YVWTGYX3KW3DF66KAAJ224ZDU6/5ZZU4JM62PS7KOJ7BOKLPL3AEO2G76TS.woff') format('woff'),
       url('https://cdn.fontshare.com/wf/UDGUA26XVGIV6IQWMQNGGAL7FQZFY227/E6HQU6YVWTGYX3KW3DF66KAAJ224ZDU6/5ZZU4JM62PS7KOJ7BOKLPL3AEO2G76TS.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Supreme';
  src: url('https://cdn.fontshare.com/wf/Y4QRUUZINRRA6MAVHWOR3TW2GODCD5RZ/R3R2UQSXQOB32GYUQ6U742TO6KF4EHU6/F6KK3SHJZ5IAQWFJ26LASNWIU5ZCMCOF.woff2') format('woff2'),
       url('https://cdn.fontshare.com/wf/Y4QRUUZINRRA6MAVHWOR3TW2GODCD5RZ/R3R2UQSXQOB32GYUQ6U742TO6KF4EHU6/F6KK3SHJZ5IAQWFJ26LASNWIU5ZCMCOF.woff') format('woff'),
       url('https://cdn.fontshare.com/wf/Y4QRUUZINRRA6MAVHWOR3TW2GODCD5RZ/R3R2UQSXQOB32GYUQ6U742TO6KF4EHU6/F6KK3SHJZ5IAQWFJ26LASNWIU5ZCMCOF.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Supreme';
  src: url('https://cdn.fontshare.com/wf/OTYYUXNCZZI6EV6RSCAQFTGEGQ7JTD6B/45FLQUBI6DWIP6NYFVBTMKS6YPU3VYPT/GHZ524YD2KXKRX4PZ2S7DE3HKNPE2EKH.woff2') format('woff2'),
       url('https://cdn.fontshare.com/wf/OTYYUXNCZZI6EV6RSCAQFTGEGQ7JTD6B/45FLQUBI6DWIP6NYFVBTMKS6YPU3VYPT/GHZ524YD2KXKRX4PZ2S7DE3HKNPE2EKH.woff') format('woff'),
       url('https://cdn.fontshare.com/wf/OTYYUXNCZZI6EV6RSCAQFTGEGQ7JTD6B/45FLQUBI6DWIP6NYFVBTMKS6YPU3VYPT/GHZ524YD2KXKRX4PZ2S7DE3HKNPE2EKH.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Supreme';
  src: url('https://cdn.fontshare.com/wf/3CFPIHZMSNOIGBGL5MWR7YPPUZXV2E36/JLQ2QTXODGFFFT2NQAWVNP3FJ2KBUKV2/QDQ4GE7GXJOFSMNLOAAL7EH2TTUIOKM5.woff2') format('woff2'),
       url('https://cdn.fontshare.com/wf/3CFPIHZMSNOIGBGL5MWR7YPPUZXV2E36/JLQ2QTXODGFFFT2NQAWVNP3FJ2KBUKV2/QDQ4GE7GXJOFSMNLOAAL7EH2TTUIOKM5.woff') format('woff'),
       url('https://cdn.fontshare.com/wf/3CFPIHZMSNOIGBGL5MWR7YPPUZXV2E36/JLQ2QTXODGFFFT2NQAWVNP3FJ2KBUKV2/QDQ4GE7GXJOFSMNLOAAL7EH2TTUIOKM5.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Supreme';
  src: url('https://cdn.fontshare.com/wf/5T6APCD6XXAHAFTHDATQKT4RFVWRY3KR/VM6PC4PLGZYYJIHGMT63IIGYLTQKGSH6/TN7F4YNDQ3FJ6JRJV2XDS3CGMFKQRLXV.woff2') format('woff2'),
       url('https://cdn.fontshare.com/wf/5T6APCD6XXAHAFTHDATQKT4RFVWRY3KR/VM6PC4PLGZYYJIHGMT63IIGYLTQKGSH6/TN7F4YNDQ3FJ6JRJV2XDS3CGMFKQRLXV.woff') format('woff'),
       url('https://cdn.fontshare.com/wf/5T6APCD6XXAHAFTHDATQKT4RFVWRY3KR/VM6PC4PLGZYYJIHGMT63IIGYLTQKGSH6/TN7F4YNDQ3FJ6JRJV2XDS3CGMFKQRLXV.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Supreme';
  src: url('https://cdn.fontshare.com/wf/CMVFVNUF7QWL7YP45D3VMM5S3TR7UETH/FMPD7RZEPLQMABBCRWTSKAVYELCFFGNA/WSOULU7BZA6ZWBLKBF4DDD6R2AYE2F5X.woff2') format('woff2'),
       url('https://cdn.fontshare.com/wf/CMVFVNUF7QWL7YP45D3VMM5S3TR7UETH/FMPD7RZEPLQMABBCRWTSKAVYELCFFGNA/WSOULU7BZA6ZWBLKBF4DDD6R2AYE2F5X.woff') format('woff'),
       url('https://cdn.fontshare.com/wf/CMVFVNUF7QWL7YP45D3VMM5S3TR7UETH/FMPD7RZEPLQMABBCRWTSKAVYELCFFGNA/WSOULU7BZA6ZWBLKBF4DDD6R2AYE2F5X.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Supreme';
  src: url('https://cdn.fontshare.com/wf/WXSRY43URIRE64IGP2UFEDZJJYHLYCJP/LPLI5YGMTUH4GME3PMZ7UXGVYY6S47NB/UPZ7O6SKOW5AF4XEN7NCNHHDMAAMYNSS.woff2') format('woff2'),
       url('https://cdn.fontshare.com/wf/WXSRY43URIRE64IGP2UFEDZJJYHLYCJP/LPLI5YGMTUH4GME3PMZ7UXGVYY6S47NB/UPZ7O6SKOW5AF4XEN7NCNHHDMAAMYNSS.woff') format('woff'),
       url('https://cdn.fontshare.com/wf/WXSRY43URIRE64IGP2UFEDZJJYHLYCJP/LPLI5YGMTUH4GME3PMZ7UXGVYY6S47NB/UPZ7O6SKOW5AF4XEN7NCNHHDMAAMYNSS.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Supreme';
  src: url('https://cdn.fontshare.com/wf/ANAL57ZQ2FUKPI2YHCUF5H4EP57WIKBH/R6UY76F6L7YMTZU5NWG6MRDUJ7DCA5WJ/LK4QNLGOAJXCEBGY4UOJ4KNHDSMPJRN4.woff2') format('woff2'),
       url('https://cdn.fontshare.com/wf/ANAL57ZQ2FUKPI2YHCUF5H4EP57WIKBH/R6UY76F6L7YMTZU5NWG6MRDUJ7DCA5WJ/LK4QNLGOAJXCEBGY4UOJ4KNHDSMPJRN4.woff') format('woff'),
       url('https://cdn.fontshare.com/wf/ANAL57ZQ2FUKPI2YHCUF5H4EP57WIKBH/R6UY76F6L7YMTZU5NWG6MRDUJ7DCA5WJ/LK4QNLGOAJXCEBGY4UOJ4KNHDSMPJRN4.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Supreme';
  src: url('https://cdn.fontshare.com/wf/DLQ4UJISF7NR5UWCRH7SSBZSGVFYEQVB/ECAFP4IWEYQWGLRGLDAA4D47EQQC2YFW/WC57ME7FJIJNRKIFOCKR52F2X2KO67EO.woff2') format('woff2'),
       url('https://cdn.fontshare.com/wf/DLQ4UJISF7NR5UWCRH7SSBZSGVFYEQVB/ECAFP4IWEYQWGLRGLDAA4D47EQQC2YFW/WC57ME7FJIJNRKIFOCKR52F2X2KO67EO.woff') format('woff'),
       url('https://cdn.fontshare.com/wf/DLQ4UJISF7NR5UWCRH7SSBZSGVFYEQVB/ECAFP4IWEYQWGLRGLDAA4D47EQQC2YFW/WC57ME7FJIJNRKIFOCKR52F2X2KO67EO.ttf') format('truetype');
  font-weight: 100 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Supreme';
  src: url('https://cdn.fontshare.com/wf/QN3TIUT2GLJT6WB3XTDDWOYM5RZ3KEGB/CBLU5DRGUM4ST5QM56HEQKDBMG2XTIL7/GPZNNDUEMEWV7QFJ7WNIEFP2732UWFKR.woff2') format('woff2'),
       url('https://cdn.fontshare.com/wf/QN3TIUT2GLJT6WB3XTDDWOYM5RZ3KEGB/CBLU5DRGUM4ST5QM56HEQKDBMG2XTIL7/GPZNNDUEMEWV7QFJ7WNIEFP2732UWFKR.woff') format('woff'),
       url('https://cdn.fontshare.com/wf/QN3TIUT2GLJT6WB3XTDDWOYM5RZ3KEGB/CBLU5DRGUM4ST5QM56HEQKDBMG2XTIL7/GPZNNDUEMEWV7QFJ7WNIEFP2732UWFKR.ttf') format('truetype');
  font-weight: 100 800;
  font-display: swap;
  font-style: italic;
}

/* --- General Sans Font Face --- */
@font-face {
  font-family: 'General Sans';
  src: url('https://cdn.fontshare.com/wf/FSGJYPLPXRLVZAZIVVF74LDN3Q3S2WUF/S5KG2IZFL42XIGI5UEGBWGDAYOGDCUXQ/XC3ORZWTJXPLYORAWMH6ZXES6GBV3W5L.woff2') format('woff2'),
       url('https://cdn.fontshare.com/wf/FSGJYPLPXRLVZAZIVVF74LDN3Q3S2WUF/S5KG2IZFL42XIGI5UEGBWGDAYOGDCUXQ/XC3ORZWTJXPLYORAWMH6ZXES6GBV3W5L.woff') format('woff'),
       url('https://cdn.fontshare.com/wf/FSGJYPLPXRLVZAZIVVF74LDN3Q3S2WUF/S5KG2IZFL42XIGI5UEGBWGDAYOGDCUXQ/XC3ORZWTJXPLYORAWMH6ZXES6GBV3W5L.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'General Sans';
  src: url('https://cdn.fontshare.com/wf/HFTXPYOBEE22ON2ZH2TDSTBQLGERA7LU/4AOH2PGTMHZO2YX5HMTOAV52ONC3WIXE/TW4KNQIPR4LNP4I6I6C6HKQ23B2EQAU5.woff2') format('woff2'),
       url('https://cdn.fontshare.com/wf/HFTXPYOBEE22ON2ZH2TDSTBQLGERA7LU/4AOH2PGTMHZO2YX5HMTOAV52ONC3WIXE/TW4KNQIPR4LNP4I6I6C6HKQ23B2EQAU5.woff') format('woff'),
       url('https://cdn.fontshare.com/wf/HFTXPYOBEE22ON2ZH2TDSTBQLGERA7LU/4AOH2PGTMHZO2YX5HMTOAV52ONC3WIXE/TW4KNQIPR4LNP4I6I6C6HKQ23B2EQAU5.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'General Sans';
  src: url('https://cdn.fontshare.com/wf/MFQT7HFGCR2L5ULQTW6YXYZXXHMPKLJ3/YWQ244D6TACUX5JBKATPOW5I5MGJ3G73/7YY3ZAAE3TRV2LANYOLXNHTPHLXVWTKH.woff2') format('woff2'),
       url('https://cdn.fontshare.com/wf/MFQT7HFGCR2L5ULQTW6YXYZXXHMPKLJ3/YWQ244D6TACUX5JBKATPOW5I5MGJ3G73/7YY3ZAAE3TRV2LANYOLXNHTPHLXVWTKH.woff') format('woff'),
       url('https://cdn.fontshare.com/wf/MFQT7HFGCR2L5ULQTW6YXYZXXHMPKLJ3/YWQ244D6TACUX5JBKATPOW5I5MGJ3G73/7YY3ZAAE3TRV2LANYOLXNHTPHLXVWTKH.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'General Sans';
  src: url('https://cdn.fontshare.com/wf/3RZHWSNONLLWJK3RLPEKUZOMM56GO4LJ/BPDRY7AHVI3MCDXXVXTQQ76H3UXA63S3/SB2OEB6IKZPRR6JT4GFJ2TFT6HBB6AZN.woff2') format('woff2'),
       url('https://cdn.fontshare.com/wf/3RZHWSNONLLWJK3RLPEKUZOMM56GO4LJ/BPDRY7AHVI3MCDXXVXTQQ76H3UXA63S3/SB2OEB6IKZPRR6JT4GFJ2TFT6HBB6AZN.woff') format('woff'),
       url('https://cdn.fontshare.com/wf/3RZHWSNONLLWJK3RLPEKUZOMM56GO4LJ/BPDRY7AHVI3MCDXXVXTQQ76H3UXA63S3/SB2OEB6IKZPRR6JT4GFJ2TFT6HBB6AZN.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'General Sans';
  src: url('https://cdn.fontshare.com/wf/K46YRH762FH3QJ25IQM3VAXAKCHEXXW4/ISLWQPUZHZF33LRIOTBMFOJL57GBGQ4B/3ZLMEXZEQPLTEPMHTQDAUXP5ZZXCZAEN.woff2') format('woff2'),
       url('https://cdn.fontshare.com/wf/K46YRH762FH3QJ25IQM3VAXAKCHEXXW4/ISLWQPUZHZF33LRIOTBMFOJL57GBGQ4B/3ZLMEXZEQPLTEPMHTQDAUXP5ZZXCZAEN.woff') format('woff'),
       url('https://cdn.fontshare.com/wf/K46YRH762FH3QJ25IQM3VAXAKCHEXXW4/ISLWQPUZHZF33LRIOTBMFOJL57GBGQ4B/3ZLMEXZEQPLTEPMHTQDAUXP5ZZXCZAEN.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'General Sans';
  src: url('https://cdn.fontshare.com/wf/KWXO5X3YW4X7OLUMPO4X24HQJGJU7E2Q/VOWUQZS3YLP66ZHPTXAFSH6YACY4WJHT/NIQ54PVBBIWVK3PFSOIOUJSXIJ5WTNDP.woff2') format('woff2'),
       url('https://cdn.fontshare.com/wf/KWXO5X3YW4X7OLUMPO4X24HQJGJU7E2Q/VOWUQZS3YLP66ZHPTXAFSH6YACY4WJHT/NIQ54PVBBIWVK3PFSOIOUJSXIJ5WTNDP.woff') format('woff'),
       url('https://cdn.fontshare.com/wf/KWXO5X3YW4X7OLUMPO4X24HQJGJU7E2Q/VOWUQZS3YLP66ZHPTXAFSH6YACY4WJHT/NIQ54PVBBIWVK3PFSOIOUJSXIJ5WTNDP.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'General Sans';
  src: url('https://cdn.fontshare.com/wf/LHQJ5KSAL7VGAEIDSTEXCCOIUKFLT2I6/GW57XUEG4ZBVMLZZTQZTGYPROITRRQ5W/JA3IZUEMJ2J6WWT2OQVJOAWDXO3YL4YG.woff2') format('woff2'),
       url('https://cdn.fontshare.com/wf/LHQJ5KSAL7VGAEIDSTEXCCOIUKFLT2I6/GW57XUEG4ZBVMLZZTQZTGYPROITRRQ5W/JA3IZUEMJ2J6WWT2OQVJOAWDXO3YL4YG.woff') format('woff'),
       url('https://cdn.fontshare.com/wf/LHQJ5KSAL7VGAEIDSTEXCCOIUKFLT2I6/GW57XUEG4ZBVMLZZTQZTGYPROITRRQ5W/JA3IZUEMJ2J6WWT2OQVJOAWDXO3YL4YG.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}